---
---

@import "theme";

#pageVersion { color:gray; font-size: smaller; margin: 0px;position: absolute; right: 5px;bottom: 5px;}

.copyBtn { padding: 2px; margin-left: 3px; cursor: pointer; height: 1.2em; width: .8em;background-color: whitesmoke;color: black;
    border: solid 1px black; border-radius: .1em;}
.copyBtn:hover {background: black;}
.copyBtn:before { border: .1rem solid black; border-bottom-color: transparent; border-right-color: transparent; height: .8em; left: 40%; top: 40%; width: .7em; }