---
---

@import "theme";

#pageVersion { color:gray; font-size: smaller; margin: 0px;position: absolute; right: 5px;bottom: 5px;}

.copyBtn,.copyBtn::before,.copyBtnDone,.copyBtnDone::before { display: inline-block; height: 1.2em; width: .8em; border-radius: .2em; margin: 0;padding: 0; cursor: pointer; border: solid 1px darkslategrey; }
.copyBtn,.copyBtnDone {margin-left: 4px;background-color:darkslategrey;vertical-align: text-bottom;float: right;}
.copyBtn::before,.copyBtnDone::before { content: ''; background-color: whitesmoke; margin-left: 2px; margin-top: 2px;}
.copyBtn:hover, .copyBtnDone:hover {background: black;}
.copyBtnDone {background-color:green; opacity: 0.33;}
.copyBtnDone,.copyBtnDone::before {border-color: green;}
li.li_checked::marker { color:green;}