---
---

@import "theme";

//.copyBtn { color: whitesmoke; background: black; border: none; border-radius: 5px; font-weight: 400; margin: 2px; margin-left: 8px; cursor: pointer;}
//.copyBtn:hover { color:black;background:whitesmoke;}
#pageVersion { color:gray; font-size: smaller; margin: 0px;position: absolute; right: 5px;bottom: 5px;}
.copyBtn { padding: 2px; margin-left: 3px; cursor: pointer; height: 1.2em; width: .8em;}
.copyBtn::before { border: .1rem solid currentColor; border-bottom-color: transparent; border-radius: .1em; border-right-color: transparent; height: .8em; left: 40%; top: 40%; width: .7em; }
.copyBtn::after { border: .1rem solid currentColor; border-radius: .1em; height: .8em; left: 60%; top: 60%; width: .7em; }