---
layout: default
---

<body data-spy="scroll" data-target="#linksMenu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-gray">
        <div class="container d-flex justify-content-between">
            <a class="my-1 title text-white" href="https://www.ib-formation.fr/" target="_blank">
                <img src="/ib-pages/logo_ibcegos.png" alt="ib Cegos" style="width:100px;height:76px;"/>
            </a>
            <span class="my-1 title text-black">{{ page.title }}</span>
            <span class="ml-2"><a href="{{ site.github.url }}">&#8801;</a></span>
        </div>
    </nav>
    <hr color-"gray"/>
    <div class="container">
        <main class="row extra-padding">
            <aside class="col-sm-2">       
                <nav id="linksMenu" class="toc sticky-top">
                    <ul class="nav navbar-nav flex-column">
                    </ul>
                </nav>         
            </aside>
            <hr class="" />
            <article class="col-sm-10 mb-5">
                {% if page.length != "00" %}
                  <div style="background-color: aqua;padding:5px;border:solid blue 2px"><strong>Durée estimée : </strong>{{page.length}} minutes</div>
                {% endif %}
                {{ content }}
            </article>
        </main>
    </div>
    <footer class="fixed-bottom d-print-none">
        <nav class="navbar navbar-light bg-light d-flex justify-content-around">
            <span class="navbar-text">
                Retour à la <a href="index.html">liste des ateliers.</a>
            </span>
            {% if page.date %}
            <div id="pageVersion">
                Edition : {{ page.date }}
            </div>
            {% endif %}
        </nav>
    </footer>
    <script src="/ib-pages/navi.js?v={{site.github.build_revision}}"></script>
    <script>
        window.onload = function(){ addLiCheckbox(); addCopyButton(); }
    </script> 
</body>
